
     <%#=image_tag "logo-cnr", size: "130x70" %>
<div id='head' class='jumbotron'></div>     
<div class='jumbotron text-center'>

    <div class="row">
      <div class="col-md-12">
        
        <h1 class='home_title'><i class="fas fa-handshake"></i> <span class="homeh1color1">P</span>unto <span class="homeh1color1">C</span>ollabora 
        <span class="homeh1color1">C</span>ovid<span class="homeh1color1">-19</span></h1> 
        <%#= image_tag "collabora_plus.png", size: "1000x300" %>
      </div>
     </div>
    <%# unless current_member %> 
        <div class="panel panel-danger">
             <div class="panel-heading"></div>
             <div class="panel-body">
                 <!--<h2>Hai un problema o un’esigenza/suggerimento da segnalare?</h2> -->
                 <h3>È a conoscenza di una situazione, relativa all’approccio del cittadino al sistema sanitario regionale 
                 in Sardegna in questo periodo segnato dall’emergenza da Coronavirus, per cui vuole indicare un suggerimento 
                 o un possibile problema?</h3>
            </div>
        </div>
        <div class="home_disclaimer alert-danger">
           <!-- <p>I dati saranno raccolti in forma rigorosamente anonima</p> -->
        </div>        
        </div>
        <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-center">
                <form action="intro">   
                    <div id='content-1'>
                            <button class="btn btn-lg btn-primary">
                                    <i class="fa fa-user fa-5x"></i><br/>
                                    Area Cittandino 
                            </button>
                    </div>
                    <div id='content-2'>
                        <button class="btn btn-lg btn-success">
                            <i class="far fa-arrow-alt-circle-right fa-5x"></i><br/>
                               Entra 
                        </button>            
                    </div>
                </form>    
        </div>
    </div>
    <%# end %>
    
</div>