<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h2>New Patient</h2><br/>
            <%= render 'form' %>
        </div>
    </div>
</div>    
<%= link_to 'Back', patients_path %>
