<div class="row">
  <div class="panel panel-danger">
    <div class="panel-heading"></div>
    <div class="panel-body" align="center"><h2>Di che si tratta?</h2></div>
</div>

<div class="advice_intro">
<fieldset>
    <div class="radio">
      <label><input type="radio" name="advice01" value="Problema" >Problema</label><br/>
      <label><input type="radio" name="advice01" value= "Esigenza/Suggerimento">Esigenza/Suggerimento</label>
    </div>
</fieldset>
</div>
 