<div class="row">
  <div class="panel panel-danger">
    <div class="panel-heading"></div>
    <div class="panel-body" align="center"><h2>Seleziona il luogo coinvolto</h2></div>
</div>
</div>
<div class="row">
 <div class="container">
  <p>Di seguito alcune alternative possibili</p>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Ospedale</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Farmacia</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Poliambulatorio</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Ambulatorio medico</label>
    </div>
  </form>
</div>

</div> 
 
 
 