<div class="row">
  <div class="panel panel-danger">
    <div class="panel-heading"></div>
    <div class="panel-body" align="center"><h2>Seleziona che cosa riguarda</h2></div>
</div>
</div>
<div class="row">
 <div class="container">
  <p>Specificare l'oggetto della problematica tra quelle di seguito riportate</p>

  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Distribuzione di dispositivi/presidi medici</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Sistemi di prenotazione</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Distribuzione di farmaci</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Campagne di vaccinazione</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Altro</label>
    </div>

  </form>
</div>

</div> 
 
 