<div class="row">
  <div class="panel panel-danger">
    <div class="panel-heading"></div>
    <div class="panel-body" align="center"><h2>Seleziona le voci che meglio descrivono il problema</h2></div>
</div>
</div>
<div class="row">
 <div class="container">
  <p>Indicare le voci che meglio caratterizzano il problema segnalato</p>

  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Malfunzionamento</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Materiale insufficiente per quantità</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Materiale insufficiente per qualità</label>
    </div>
  </form>
</div>

</div> 
 
 