<%#= javascript_include_tag 'char_limit' %>
<%# session.keys().each do |k, v|%>
    <%#= "#{k}: #{session[k]}" %> <br/>
<%# end %>    
<div class="row">
  <div class="panel panel-<%=session[:color_selection]%>">
    <div class="panel-heading">FINE</div>
    <div class="panel-body" align="center"><h2>Scrivi una parola chiave per il problema segnalato</h2></div>
</div>
</div>
<div class="row">
 <div class="container">
  <p>Indicare un termine che descriva il problema</p>
  <div class="row">
    <div class="col-md-6">
        <form>
            <%= text_area_tag 'keyword', nil, class: 'form-control', placeholder: "keyword", maxlength: 10, rows: 3, cols: 25 %>
            <strong><span id="rchars">10</span></strong> caratteri rimanenti           
        </form>

       <!--<textarea class="form-control" rows="3" placeholder="keyword" name="answer18_note" ></textarea> -->
    </div>
</div>

 
</div>

</div> 
 
 