<div class="row">
  <div class="panel panel-danger">
    <div class="panel-heading"></div>
    <div class="panel-body" align="center"><h2>Scrivi una parola chiave per il problema segnalato</h2></div>
</div>
</div>
<div class="row">
 <div class="container">
  <p>Indicare un termine che descriva il problema</p>
  <div class="row">
    <div class="col-md-6">
        <%= text_field_tag 'keyword', nil, class: 'form-control', placeholder: "keyword", maxlength: 10, rows: 3, cols: 25 %>
       <!--<textarea class="form-control" rows="3" placeholder="keyword" name="answer18_note" ></textarea> -->
    </div>
</div>

 
</div>

</div> 
 
 