
<div class="panel panel-danger">
    <div class="panel-heading"><h2>Scegli l'argomento</h2></div>
    <div class="panel-body" align="center"></div>
    
    <div class="well">
        

   <!-- <div class="container"> -->
          <div class="row">
              <div class="col text-center">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                           <%= link_to '<button id="intro1" class="btn btn-lg btn-primary">
                            <i class="fas fa-pills"></i><br/>
                                <!--<i class="fa fa-user fa-5x"></i><br/>-->
                                Farmaci
                            </button>'.html_safe, new_advice_path(:selection => "drugs") %><br/><br/>
                           <%= link_to '<button id="intro2" class="btn btn-lg btn-warning">
                            <i class="fas fa-h-square"></i><br/>
                                <!--<i class="fa fa-user fa-5x"></i><br/>-->
                               Sistema Sanitario
                            </button>'.html_safe, new_advice_path(:selection => "health system") %><br/><br/>
                           <%= link_to '<button id="intro3" class="btn btn-lg btn-success">
                            <i class="fas fa-medkit"></i><br/>
                                <!--<i class="fa fa-user fa-5x"></i><br/>-->
                                Farmaci acquistati su Internet
                           </button>'.html_safe, new_advice_path(:selection => "shopping") %>                            
                    </div>
                    
          </div>
     <!--</div> -->
</div>     
    
    
</div>
