<footer class="footer">
     
  <p class="text-muted">© CNR Istituto di Farmacologia Traslazionale 2016</p>
    <%= image_tag "logo_fondazione2.png", size: "90x40", class: "footer-img" %> 
     
</div>


